<ion-content padding class="content">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <h3>E-Fek</h3>
        <h2>Device</h2>
      </ion-card-header>
      <ion-card-content>
        <div class="info">
          Para asociar un dispositivo, se debe obtener las credenciales del partner y sucursal.
        </div>
        <ion-row class="form" *ngIf="loginWithCredentials">
          <ion-list>
            <ion-item>
              <ion-label floating>Credencial del negocio</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Credencial de la sucursal</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <button (click)="asociateDevice()">Asociar dispositivo</button>
          </ion-list>
        </ion-row>
        <div class="actions" *ngIf="!loginWithCredentials">
          <button (click)="scan()">Leer código QR</button>
          <span>ó</span>
          <button (click)="changeLoginMode()">Diligenciar credenciales</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
