page-login {
    .content {
        background-color: #ededed;
        .container {
            ion-card {
                text-align: center;
                ion-card-header {
                    h3 {
                        font-size: 4em;
                        font-weight: bold;
                        color: #0C4F83;
                    }
                    h2 {
                        margin: 0;
                        font-size: 2em;
                        color: #0C4F83;
                    }
                }
                ion-card-content {
                    margin-top: 2em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .actions {
                        margin-top: 2em;
                        display: flex;
                        flex-direction: column;
                        
                    }
                }
                height: 95vh;
            }
            button {
                margin: 1em 0;
                height: 3em;
                width: 14em;
                background-color: #0C4F83;
                color: white;
                border-radius: 5px;
            }
        }
    }
}

.scroll-content {
    padding-bottom: 0 !important;
}

