<ion-content padding class="content">
  <div class="container">
    <ion-row class="header">
      <h3>E-Fek</h3>
      <h2>Device</h2>
    </ion-row>
    <ion-row class="payment-data">
      <div class="item-form">
        <span>Referencia de pago:</span>
        <span class="reference bold">E0346ADS-2</span>
      </div>
    </ion-row>
    <ion-row class="code-confirmation">
      <span class="bold">Confirmar compra por clave</span>
      <div class="code-container">
        <div><input type="number"></div>
        <div><input type="number"></div>
        <div><input type="number"></div>
        <div><input type="number"></div>
      </div>
    </ion-row>
    <ion-row class="actions">
      <button>Confirmar clave</button>
    </ion-row>
  </div>
  <ion-footer class="user-info">
    <span>106.45.34.56 | 95.6555, -66.65656</span>
    <span>Fruta Fresca</span>
    <span>C.C Oviedo</span>
  </ion-footer>
</ion-content>
