<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Movimiento" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cancelar" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Nodevades" tabIcon="contacts"></ion-tab>
</ion-tabs>
