<ion-content padding class="content">
  <div class="container">
    <ion-row class="header">
      <h3>E-Fek</h3>
      <h2>Device</h2>
    </ion-row>
    <ion-row class="payment-data">
      <div class="item-form">
        <span>Referencia de pago:</span>
        <span class="reference bold">E0346ADS-2</span>
      </div>
      <div class="item-form">
        <span>Valor de pago</span>
        <span class="payment-value bold">100.000 COP</span>
      </div>
      <ion-item>
        <ion-label floating>Seleccione la cantidad de cuotas</ion-label>
        <ion-select>
          <ion-option>1 Cuotas</ion-option>
          <ion-option>2 Cuotas</ion-option>
          <ion-option>3 Cuotas</ion-option>
          <ion-option>4 Cuotas</ion-option>
          <ion-option>5 Cuotas</ion-option>
          <ion-option>6 Cuotas</ion-option>
          <ion-option>7 Cuotas</ion-option>
          <ion-option>8 Cuotas</ion-option>
          <ion-option>9 Cuotas</ion-option>
          <ion-option>10 Cuotas</ion-option>
          <ion-option>11 Cuotas</ion-option>
          <ion-option>12 Cuotas</ion-option>
          <ion-option>13 Cuotas</ion-option>
          <ion-option>14 Cuotas</ion-option>
          <ion-option>15 Cuotas</ion-option>
          <ion-option>16 Cuotas</ion-option>
          <ion-option>17 Cuotas</ion-option>
          <ion-option>18 Cuotas</ion-option>
          <ion-option>19 Cuotas</ion-option>
          <ion-option>20 Cuotas</ion-option>
        </ion-select>
      </ion-item>
      <div class="item-form">
        <span>Valor de la financiación</span>
        <span class="financiation-value bold">18.500 COP</span>
      </div>
      <div class="item-form">
        <span>Valor total a pagar</span>
        <span class="total-value bold">118.500 COP</span>
      </div>
    </ion-row>
    <ion-row class="actions">
      <button (click)="goToConfirmation()" >Confirmar Identidad</button>
    </ion-row>
  </div>
  <ion-footer class="user-info">
    <span>106.45.34.56 | 95.6555, -66.65656</span>
    <span>Fruta Fresca</span>
    <span>C.C Oviedo</span>
  </ion-footer>
</ion-content>
