page-user-checkout {
    .content {
        .container {
            .header {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0;
                    font-size: 4em;
                    font-weight: bold;
                    color: #0C4F83;
                }
                h2 {
                    margin: 0;
                    font-size: 2em;
                    color: #0C4F83;
                }
            }
            .payment-data {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                padding: 1em;
                .item-form {
                    width: 100%;
                    display: flex;
                    margin: 1em;
                    justify-content: space-between;
                    .bold {
                        font-weight: bold;
                        font-size: 1.1em;
                    }
                }
                ion-item {
                    width: 100%;
                }
            }
            .actions {
                display: flex;
                justify-content: center;
                button {
                    margin: 1em 0;
                    height: 3em;
                    background-color: #0C4F83;
                    color: white;
                    border-radius: 5px;
                }
            }
        }    
        .user-info {
            padding: .5em;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: color($colors, secondary);
            text-align: center;
            span {
                margin-bottom: .5em;
            }
        }
    }
}


