<ion-content class="content">
  <div class="container">
      <ion-row class="header">
        <h3>E-Fek</h3>
        <h2>Device</h2>
      </ion-row>
      <ion-row class="logout">
        <span>{{ currentDate }}</span>
        <span class="logout-action">Cerrar sesión</span>
      </ion-row>
      <ion-row class="form-data">
        <ion-item>
          <ion-label floating>Seleccione el producto</ion-label>
          <ion-select>
            <ion-option>Emonkey</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Digite el número del usuario</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Clave del usuario</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="send-button">
        <button (click)="findUser()">Buscar usuario</button>
      </ion-row>
      <ion-footer class="user-info">
        <span>106.45.34.56 | 95.6555, -66.65656</span>
        <span>Fruta Fresca</span>
        <span>C.C Oviedo</span>
      </ion-footer>
  </div>
</ion-content>
