page-movement {
    .content {
        .container {
            .header {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0;
                    font-size: 4em;
                    font-weight: bold;
                    color: #0C4F83;
                }
                h2 {
                    margin: 0;
                    font-size: 2em;
                    color: #0C4F83;
                }
            }
            .logout {
                margin-top: 1em;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .logout-action {
                    text-decoration: underline;
                    color: color($colors, primary);
                }
            }
            .form-data {
                display: flex;
                justify-content: center;
                ion-item {
                    width: 90%;
                }
            }
            .send-button {
                width: 100%;
                margin: 1em 0;
                text-align: center;
                button {
                    margin: 1em auto;
                    height: 3em;
                    width: 14em;
                    background-color: #0C4F83;
                    color: white;
                    border-radius: 5px;
                }
            }
            .logout {
                margin-top: 2em;
                width: 100%;
                display: flex;
                padding: 0 1em;
                justify-content: space-between;
                .logout-action {
                    text-decoration: underline;
                    color: color($colors, primary);
                }
            }
        }
        .user-info {
            padding: .5em;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: color($colors, secondary);
            text-align: center;
            span {
                margin-bottom: .5em;
            }
        }
    }
}
