page-user-detail {
    .content {
        .container {
            .header {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0;
                    font-size: 4em;
                    font-weight: bold;
                    color: #0C4F83;
                }
                h2 {
                    margin: 0;
                    font-size: 2em;
                    color: #0C4F83;
                }
            }
            .logout {
                margin-top: 1em;
                width: 100%;
                display: flex;
                padding: 0 1em;
                justify-content: space-between;
                .logout-action {
                    text-decoration: underline;
                    color: color($colors, primary);
                }
            }
            .user-detail {
                margin-top: 1em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .user-image {
                    position: relative;
                    width: 43%;
                    height: 125px;
                    img {
                        height: 125px;
                        width: 135px;
                    }
                    button {
                        position: absolute;
                        width: 110px;
                        height: 3em;
                        border-radius: 25px;
                        bottom: -25px;
                        left: 4px;
                        background: color($colors, primary);
                        color: white;
                    }
                }
                fieldset {
                    display: flex;
                    flex-direction: column;
                    width: 45%;
                    span {
                        margin: 5px;
                    }
                }
            }
            .value {
                margin-top: 1em;
                width: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                ion-input {
                    width: 90%;
                }
            }
            .actions {
                display: flex;
                justify-content: space-around;
                button {
                    margin: 1em 0;
                    height: 3em;
                    background-color: #0C4F83;
                    color: white;
                    border-radius: 5px;
                }
            }
        }    
        .user-info {
            padding: .5em;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: color($colors, secondary);
            text-align: center;
            span {
                margin-bottom: .5em;
            }
        }
    }
}

