<ion-content padding class="content">
  <div class="container">
    <ion-row class="header">
      <h3>E-Fek</h3>
      <h2>Device</h2>
    </ion-row>
    <ion-row class="logout">
      <span>{{ currentDate }}</span>
      <span class="logout-action">Cerrar sesión</span>
    </ion-row>
    <ion-row class="user-detail">
      <div class="user-image">
        <img src="assets/imgs/user.jpg" alt="">
        <button>Emonkey</button>
      </div>
      <fieldset>
        <legend>Datos de usuario</legend>
        <span>Andres.cardona10</span>
        <span>Andres Cardona Rodriguez</span>
        <span>Masculino</span>
        <div class="state">
          <span>Activo</span>
        </div>
        <div class="enrollment-date">
          <span>{{ currentDate }}</span>
        </div>
      </fieldset>
    </ion-row>
    <ion-item class="value">
        <ion-label floating>Valor correspondiente</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-row class="actions">
      <button>Cancelar</button>
      <button>Repudio</button>
      <button (click)="goToCheckout()">Generar</button>
    </ion-row>
  </div>
  <ion-row class="user-info">
    <span>106.45.34.56 | 95.6555, -66.65656</span>
    <span>Fruta Fresca</span>
    <span>C.C Oviedo</span>
  </ion-row>
</ion-content>
