<ion-content padding class="content">
  <div class="container">
    <ion-row class="header">
      <h3>E-Fek</h3>
      <h2>Device</h2>
    </ion-row>
    <ion-row class="logout">
      <span>{{ currentDate }}</span>
      <span class="logout-action">Cerrar sesión</span>
    </ion-row>
    <ion-row class="offline-payments">
      <button>
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <span>Pagos offline</span>
    </ion-row>
    <ion-row class="movements-table">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Referencia</th>
            <th>Estado</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ currentDate }}</td>
            <td class="reference" (click)="goToDetail()">CU-4596050</td>
            <td>Aprobado</td>
            <td>Transacción aprobada</td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </div>
  <ion-footer class="user-info">
    <span>106.45.34.56 | 95.6555, -66.65656</span>
    <span>Fruta Fresca</span>
    <span>C.C Oviedo</span>
  </ion-footer>
</ion-content>
