@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/custom-fonts/Raleway-Regular.ttf') format('truetype');
}


* {
    font-family: 'Raleway';
    font-weight: 600;
}