<ion-content class="content">
  <div class="container">
      <ion-row class="header">
        <h3>E-Fek</h3>
        <h2>Device</h2>
      </ion-row>
      <ion-row class="reference-info">
        <div class="item">
          <span>Referencia de pago</span>
          <span class="number">E0346ADS</span>
        </div>
        <div class="item">
          <span>Datos de emisión</span>
          <span class="number">578456 / $45.000</span>
        </div>
      </ion-row>
      <ion-row class="movements-table">
        <table>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ currentDate }}</td>
              <td>Pendiente</td>
              <td>Revisión pendiente</td>
            </tr>
            <tr>
              <td>{{ currentDate }}</td>
              <td>En tramite</td>
              <td>En proceso</td>
            </tr>
            <tr>
              <td>{{ currentDate }}</td>
              <td>Aprobado</td>
              <td>Transacción aprobada</td>
            </tr>
          </tbody>
        </table>
      </ion-row>
      <ion-footer class="user-info">
        <span>106.45.34.56 | 95.6555, -66.65656</span>
        <span>Fruta Fresca</span>
        <span>C.C Oviedo</span>
      </ion-footer>
  </div>
</ion-content>
