page-reference-detail {
    .content {
        .container {
            .header {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0;
                    font-size: 4em;
                    font-weight: bold;
                    color: #0C4F83;
                }
                h2 {
                    margin: 0;
                    font-size: 2em;
                    color: #0C4F83;
                }
            }
            .reference-info {
                background-color: color($colors, secondary);
                padding: 10px 0;
                margin-top: 2em;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .item {
                    padding: 0 5px;
                    display: flex;
                    justify-content: space-between;
                    span.number {
                        font-weight: bold;
                    }
                }
            }
            .movements-table {
                margin-top: 2em;
                font-size: 1em;
                padding: 0 10px;
                thead, tr, td {
                    border: 1px solid black;
                }
                .reference {
                    text-decoration: underline;
                    color: color($colors, primary);
                }
                td {
                    padding: 1px;
                }
            }
            .logout {
                margin-top: 2em;
                width: 100%;
                display: flex;
                padding: 0 1em;
                justify-content: space-between;
                .logout-action {
                    text-decoration: underline;
                    color: color($colors, primary);
                }
            }
        }
        .user-info {
            padding: .5em;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: color($colors, secondary);
            text-align: center;
            span {
                margin-bottom: .5em;
            }
        }
    }
}
